* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: 'IBM Plex Sans KR', sans-serif;

}
body {
    line-height: 1.6;
    background-color: darkgray;
    /* max-width: 650px;
    min-width: 300px; */
}
header {
    text-align: center;
    display: block;
    color: rgb(216, 146, 42);
}
.home {
    display: flexbox;
    justify-content: center;
    margin: 1rem auto;
    overflow: auto;
    padding: 0 2rem;
    padding-left: 15rem;
}
.home img {
    width: auto;
    padding-left: 20rem;
    padding-bottom: 1rem;
    
}
.home h2{
    
    text-align: center;
}
.home h3{
    padding-bottom: 2rem;
}
.form-display {
    padding-left: 15rem;
}
.form-details {
    display: grid;
    gap:2px;
    grid-template-columns: repeat(auto-fit, 300px);
}
button {
    background-color: rgb(76, 212, 167);
    height: 3rem;
    border: none;
    font: size 16px;
    cursor: pointer;
}